:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}
html{
    font-size: 62.5%;

}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
    

}
.titulo span{
    font-size: 2rem;
}
.navegacion-principal{
    background-color: var(--secundario);
}
.contenedor{
    max-width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*justify-content sirev para filas*/
    font-weight: bold;
    font-size: 2rem;
}
.navegacion-principal a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
    }
}
